@{
    ViewData["Title"] = "Update Client";
}
<div class="text-center">
    <h2 class="display-4">Изменение клиента</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">ФИО клиента:</div>
        <div class="col-8"><input type="text" name="clientFIO" id="clientFIO" value="@ViewBag.Client.ClientFIO" size="35" /></div>
    </div>
    <div class="row">
        <div class="col-4">Паспортные данные:</div>
        <div class="col-8"><input type="text" name="passport" id="passport" value="@ViewBag.Client.PassportData" /></div>
    </div>
     <div class="row">
        <div class="col-4">Телефон:</div>
        <div class="col-8"><input type="text" name="telephone" id="telephone" value="@ViewBag.Client.TelephoneNumber" /></div>
    </div>
    <div class="row">
        <div class="col-4">Кредитная программа:</div>
        <div class="col-8">
            <select id="loanProgramsId" name="loanProgramsId" multiple="multiple" class="form-control" asp-items="@(new SelectList(@ViewBag.LoanPrograms,"Id", "LoanProgramName"))"></select>
        </div>
    </div> 
    <table class="table">
        <thead>
            <tr>
                <th>
                    Кредитная программа
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Client.ClientLoanPrograms)
            {
                <tr>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        </div>
    </div>
</form>